<div class="information">
  <div class="container">
    <div class="infor-top">
      <div class="col-md-3 infor-left">
        <h3>Follow us</h3>
        <ul>
          <li><a href="#"><span class="fb"></span><h6>Facebook</h6></a></li>
          <li><a href="#"><span class="twit"></span><h6>Twitter</h6></a></li>
          <li><a href="#"><span class="google"></span><h6>Google</h6></a></li>
        </ul>
      </div>
      <div class="col-md-3 infor-left">
        <h3>Information</h3>
        <ul>
          <li><a href="#"><p>Specials</p></a></li>
          <li><a href="#"><p>New products</p></a></li>
          <li><a href="#"><p>Our stores</p></a></li>
          <li><a href="contact.html"><p>Contact us</p></a></li>
          <li><a href="#"><p>Top sellers</p></a></li>
        </ul>
      </div>
      <div class="col-md-3 infor-left">
        <h3>My Account</h3>
        <ul>
          <li><a href="account.html"><p>My account</p></a></li>
          <li><a href="#"><p>My Credit slips</p></a></li>
          <li><a href="#"><p>My Merchandise returns</p></a></li>
          <li><a href="contact.html"><p>My personal info</p></a></li>
          <li><a href="#"><p>My addresses</p></a></li>
        </ul>
      </div>
      <div class="col-md-3 infor-left">
        <h3>Store Information</h3>
        <h4>The company name,
        <span>Lorem ipsum dolar,</span>
        Glasgglow Dr 40 Fe 72.</h4>
        <h5> +955 123 4567</h5>
        <p><a href="mailto:example@gmail.com">contact@example.com</a> </p>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</div>

<div class="footer">
  <div class="container">
    <div class="footer-top">
      <div class="col-md-6 footer-left"
           <form>
             <input type="text" value="Enter your email" onfocus="this.value = ";" onblur=" if(this.value =='') {this.value
           </form>
    </div>
  </div>
</div>